# 9 - import numpy as np # create numpy array arr = np.array([1, 2, 4, 5, 6]) #flipud method for reversing reverse_ arr = np.flipud(arr) print(reverse_arr)

In [3]:
 import numpy as np

arr = np.array([1, 2, 4, 5, 6])
reverse_arr = np.flipud(arr)
print(reverse_arr)

[6 5 4 2 1]

# 10.Write a program to draw colored shapes (line, rectangle, oval) on canvas.

In [4]:
from tkinter import *
master = Tk()
master.title("Nishi")
w=Canvas(master,width=400,height=400)
w.pack()
w.create_oval(50,50,150,100,width=2,fill='red')
mainloop()

In [5]:
from tkinter import *
master = Tk()
master.title("Nishi")
w=Canvas(master,width=400,height=400)
w.pack()
w.create_rectangle(50,50,150,100,width=2,fill='yellow')
mainloop()

In [8]:
from tkinter import *
master = Tk()
master.title("Nishi")
w=Canvas(master,width=2000,height=20)
w.pack()
canvas_height=20
canvas_width=200
y=int(canvas_height/2)
w.create_line(0,y,canvas_width,y)
mainloop()

# 12.Remove all rows with NULL values: USING NUMPY AND PANDAS OF YOUR DATASET WHICH YOU HAVE

In [12]:
import pandas as pd
df = pd.read_csv('data.csv')
new_df = df.dropna()
print(new_df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

# 4.Create a class named as Student to store the rollno, name and marks in three subjects. Use List to store the marks. 
a) Write an instance method called compute() to compute total marks and
average marks of a student. 
b) Write a method called display() to display student information

In [14]:
class Student:
  list_of_marks = []
  def __init__(self):
    self.name = input('Enter student name: ')
    for i in range(1,4):
      self.list_of_marks.append(int(input(f'Enter marks in subect {i} :')))
  def compute(self):
    self.total_marks = sum(self.list_of_marks)
    self.average = self.total_marks/3
  def display(self):
    print(self.name,'details:')
    for i in range(1,4):
      print(f'Marks in subject{i} = ',self.list_of_marks[i-1])
Prince = Student()
Prince.compute()
Prince.display()
print("Total marks:",Prince.total_marks)
print("Total average marks",Prince.average)

Enter student name: Nishi
Enter marks in subect 1 :56
Enter marks in subect 2 :67
Enter marks in subect 3 :66
Nishi details:
Marks in subject1 =  56
Marks in subject2 =  67
Marks in subject3 =  66
Total marks: 189
Total average marks 63.0

# 7.Write a program to implement default constructor, parameterized constructor, and destructor.

In [21]:
class Person:
    def __init__(self,name):
        self.name = name
    def __del__(self):
        print("object deleted")
    def display(self):
        print(self.name)
p = Person("nishi")
p.display()
del p

nishi
object deleted

# 2.Write a program that creates an iterator to print squares of numbers.

In [18]:
class Square_Iterator:
    def __init__(self,limit):
        self.limit = limit
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.limit>=self.a:
            x = self.a
            self.a+=1
            return x**2
        else:
            raise StopIteration
S = Square_Iterator(10)
for i in S:
    print(i)

1
4
9
16
25
36
49
64
81
100

# 6.Create a class Employee that keeps a track of the number of employees in an organization and also stores their name, designation and salary details. 
 a) Write a method called getdata to take input (name, designation,
salary) from user. 
 b) Write a method called average to find average salary of all the
employees in the organization. 
 c) Write a method called display to print all the information of an
employee.

In [19]:
class Employee:
  d = {chr(i):[] for i in range(65,91)}
  def __init__(self, name, emp_id, salary):
        self.name = name
        self.emp_id = emp_id
        self.salary = salary
  def team(self,obj,team):         
    self.d[team].append(obj)
    

         
class Manager(Employee):
    def __init__(self, name, emp_id, salary, team):
        super().__init__(name, emp_id, salary)
        self.designation = 'Manager'
        self.team = team

    def display_team(self):
        print(f"{self.name} \nID: {self.emp_id} \nsalary: {self.salary} \ndesignation: {self.designation} \nteam: {self.team}")
        print()

        print(f"{self.name} is leading the following employees:")
        print()
        for emp in self.d[self.team]:
            print(f"{emp.name} \nID: {emp.emp_id} \nsalary: {emp.salary}")
            print()

class TeamLeader(Employee):
    def __init__(self, name, emp_id, salary, team):
        super().__init__(name, emp_id, salary)
        self.team = team
        self.designation = 'Team Leader'
 
    def display_team(self):
        print(f"{self.name} \nID: {self.emp_id} \nsalary: {self.salary} \ndesignation: {self.designation} \nteam: {self.team}")
        print()

        print(f"{self.name} is leading the following employees:")
        print()
        for emp in self.d[self.team]:
            print(f"{emp.name} \nID: {emp.emp_id} \nsalary: {emp.salary}")
            print()
emp1 = Employee("Niki", 1, 45000)
emp1.team(emp1,'A')
emp2 = Employee("John", 2, 23000)
emp2.team(emp2,'A')
emp3 = Employee("Binu", 3, 99000)
emp3.team(emp3,'B')
emp4 = Employee("meina", 4, 35000)
emp4.team(emp4,'B')
mgr = Manager("Mike", 5, 75000, 'A')
tl = TeamLeader("Tom", 6, 70000, 'B')

mgr.display_team()
tl.display_team()

Mike
ID: 5
salary: 75000
designation: Manager
team: A

Mike is leading the following employees:

Niki
ID: 1
salary: 45000

John
ID: 2
salary: 23000

Tom
ID: 6
salary: 70000
designation: Team Leader
team: B

Tom is leading the following employees:

Binu
ID: 3
salary: 99000

meina
ID: 4
salary: 35000

In [22]:
1.Write a program to demonstrate hybrid inheritance and show MRO for each class

SyntaxError: invalid decimal literal (3275458734.py, line 1)

In [23]:
3.What are ways of creating 1D, 2D and 3D arrays in NumPy? Give Examples

SyntaxError: invalid decimal literal (2723771279.py, line 1)

In [ ]:
5.Write a Program to create a series from a list, numpy array and dict.
list_data = [10, 20, 30, 40, 50]
array_data = ([0.5, 0.8, 1.2, 1.5, 2.0])